@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@oruga-ui/theme-oruga/dist/oruga.css';

:root {
  --jelu_background: #262429;
  --jelu_background_accent: #262429;
  --jelu_background_contrast: #f7f5d1;

  --jelu_text_primary : #ffffff;
  --jelu_text_secondary : #aaaaaa;
  --jelu_text_accent : #69ea7d;

  --jelu_test : #69ea7d;

  --oruga-checkbox-border-color: theme('colors.primary');
  --oruga-checkbox-active-background-color: theme('colors.primary');
  --oruga-checkbox-background-color: theme('colors.neutral');

  --oruga-pagination-link-color: theme('colors.neutral');
  --oruga-pagination-link-border-color: theme('colors.transparent');

  --oruga-variant-primary: theme('colors.primary');
  --oruga-variant-success: theme('colors.success');
  --oruga-variant-danger: theme('colors.error');
  --oruga-variant-warning: theme('colors.warning');
  --oruga-variant-info: theme('colors.info');

  --oruga-datepicker-item-selected-background-color: theme('colors.primary');

  --oruga-slider-tick-background: theme('colors.primary');

  --oruga-slider-fill-background: theme('colors.primary');

  --oruga-slider-thumb-radius: 100%;

  --oruga-slider-thumb-background: theme('colors.primary');
  --oruga-slider-thumb-border: 0px solid transparent;
  --oruga-tooltip-background-color: theme('colors.primary');
  --oruga-tooltip-color: theme('colors.primary-content');

  --oruga-switch-active-background-color: theme('colors.primary');

  --oruga-modal-content-background-color: theme('colors.base-100');

  --oruga-modal-content-max-height: calc(100vh - 75px);

  --oruga-steps-marker-color: theme('colors.base-content');

  --oruga-steps-marker-background: theme('colors.base-100');

  --oruga-loading-overlay: theme('colors.jelu_overlay');

  --oruga-taginput-background-color: theme('colors.base-100');
  --oruga-taginput-border-color: theme('colors.base-100');
  --oruga-taginput-color: theme('colors.primary');
  --oruga-taginput-item-background-color: theme('colors.primary');
  --oruga-taginput-item-color: theme('colors.primary-content');
  
  --oruga-autocomplete-item-color: theme('colors.primary-content');


  --vdp-bg-color: theme('colors.base-100');
  --vdp-text-color: theme('colors.base-content');

}

/* oruga customization with daisyui */
.o-chk__input {
  @apply bg-none;
}

.o-chk .o-chk__input {
  @apply checkbox checkbox-primary;
}

.o-btn.o-btn--success.o-btn--outlined-success {
  @apply btn btn-success;
}

.o-btn.o-btn--warning.o-btn--outlined-warning {
  @apply btn btn-warning;
}

.o-btn.o-btn--info.o-btn--outlined-info {
  @apply btn btn-info;
}

.o-side__content.o-side__content--left {
  @apply bg-base-100 w-fit;
}

.o-radio .o-radio__input{
  @apply radio radio-sm radio-primary bg-none;
  
}

.o-pag__link {
  @apply btn text-neutral-content !important;
}

.o-pag__link.o-pag__link--current {
  @apply btn btn-active bg-primary text-primary-content !important;
}

.o-pag__ellipsis {
  @apply btn btn-disabled;
}

.o-ctrl-sel {
  @apply bg-white;
}

.o-field.o-field--horizontal .o-field__horizontal-label .o-field__label {
  @apply text-base-content;
}

.o-field .o-field__label {
  @apply text-base-content;
}

.o-input.o-inputit__input {
  @apply w-fit sm:w-full bg-base-100 text-base-content focus:input-accent;
}


.o-input__wrapper {
    @apply w-fit sm:w-full;
}

.o-input__wrapper .o-input {
    @apply w-fit sm:w-full focus:input-accent;
}

.o-icon.o-input__icon-left {
    @apply text-base-content;
}

.o-steps__title {
  @apply bg-base-100 text-base-content !important;
}

.o-icon.o-icon--spin.o-icon--medium.o-load__icon {
    @apply text-gray-700;
}

.o-ctrl-input > input[type="number"] {
    @apply w-24;
}

.o-acp .o-input {
  @apply w-fit sm:w-full bg-base-100 text-base-content border-base-200 focus:input-accent grow;
}

.o-acp {
    @apply grow !important;
}

.o-drop__menu {
    @apply w-full grow;  
}

.o-taginput .o-taginput__container {
    @apply w-fit sm:w-full;
}
/* end oruga customization with daisyui */

.swal2-container {
    @apply flex justify-center;
}

.swal2-container .swal2-popup.swal2-modal {
  @apply bg-base-300 text-base-content text-lg font-semibold !important;
}

.bar {
    background-color: var(--jelu_background_accent);
    height: 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
}


@font-face {
    font-family: 'AnotherTypewriter';
    font-style: normal;
    font-display: swap;
    src: url('./atwriter.ttf') format('truetype');
    
  }

.typewriter {
    /* // font-family: $typewriter-font; */
    font-family: AnotherTypewriter;
}

.edit-modal {
    margin: 30px;
    width: min(600px, 90vw);
}

.event-modal {
  margin: 30px;
  height: min(600px, 70vh);
}

.author-modal {
  @apply m-2 sm:p-5;
  width: min(600px, 90vw);
}

.quote-modal {
  @apply m-5 sm:p-5;
  height: min(700px, 75vh);
  width: min(900px, 85vw);
}

.review-modal {
  @apply m-5 sm:p-5;
  height: min(700px, 75vh);
  width: min(900px, 85vw);
}

.metadata-modal {
  @apply m-5 sm:p-5;
  height: min(400px, 75vh);
  width: min(400px, 85vw);
}

.review-book-card {
  @apply h-72;
  width: min(300px, 85vw);
}

.small-cover {
    @apply w-28;
  }
  
.small-cover img {
  @apply w-28 relative;
}

.altered {
  filter: blur(4px) invert(38%);
  -webkit-filter: blur(4px) invert(38%);
  -moz-filter: blur(4px) invert(38%);
}

/* // book detail */

.jelu-bordered {
  @apply border-2 rounded-none border-accent;
  -webkit-box-shadow: 10px 10px 10px 0px var(--jelu_background); 
  box-shadow: 10px 10px 10px 0px var(--jelu_background);
}


/* dashboard sidebar customizing */

.sidebar {
  @apply h-fit !important;
}

.sidebar-header {
  @apply bg-base-100 text-base-content !important;
}

.sidebar-content {
   @apply bg-base-100 !important;
}

.sidebar-content ul li a {
  @apply bg-base-100 rounded-lg text-base-content hover:bg-accent/50 !important;
}

.sidebar-content ul li span {
  @apply capitalize truncate;
}
/* end dashboard sidebar */


.jelu-authorinput .o-taginput__item {
  @apply bg-success rounded my-1;
}

.jelu-taginput .o-taginput__item {
  @apply bg-warning rounded text-warning-content my-1;
}

[data-theme="jelu"] .card {
  @apply bg-base-100 border-0;
}

[data-theme="jelu"] .jl-card {
  @apply bg-base-100 border-0;
}

[data-theme="jelu"] .alert .btn {
    @apply bg-base-100;
}

[data-theme="jelu"] .card-body .btn {
    @apply bg-base-100;
}

[data-theme="jelu"] .card.card-compact {
  @apply rounded-none;
}

.card.card-compact {
  @apply rounded;
}

[data-theme="jelu"] .timeline-item {
  @apply bg-neutral rounded-none;
}

.timeline-item {
  @apply bg-accent rounded;
}

/* title search input on search page, make it fill column */
.title-input .o-ctrl-input {
  @apply w-full;
}

/* loader from https://loading.io/css/ */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: theme('colors.accent');
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/* end loader from https://loading.io/css/ */

/* clear button positioning from https://github.com/icehaunter/vue3-datepicker  */
.v3dp__clearable {
  left: -25px !important;
  top: 5px !important;
}
/* end clear button */

/* vue markdown editor textarea color */
.v-md-textarea-editor pre, .v-md-textarea-editor textarea {
  @apply text-base-content !important;
}
/* end vue markdown editor */

.jelu-cursor-text {
  @apply cursor-text !important;
}

.jl-formkit .o-input {
  @apply w-fit sm:w-full bg-base-100 text-base-content border-primary focus:input-accent;
}
