// @import '@oruga-ui/theme-bulma/dist/bulma.css';
// @import 'bulma/bulma.sass';


// $my-color: $primary;

@import "bulma/sass/utilities/_all";

$jelu_background: #262429;
$jelu_background_accent: #404040;
$jelu_background_contrast: #f7f5d1;

$jelu_text_primary : #ffffff;
$jelu_text_secondary : #aaaaaa;
$jelu_text_accent : #69ea7d;

// Set your colors
$primary: $jelu_text_accent;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $jelu_background_contrast;
$link-invert: $primary;
$link-hover: $primary;
$link-focus-border: $primary;

$body-background-color: $jelu_background;

$footer-background-color: $jelu_background_accent;
$footer-padding: 1.5rem 1rem 1.5rem;

$navbar-background-color: $jelu_background;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: $jelu_background;
// $navbar-item-active-color: ;
$navbar-item-active-background-color: $jelu_background_contrast;

$navbar-dropdown-background-color:$jelu_background_accent;
// $navbar-dropdown-arrow: $jelu_background;


$text : $jelu_text_primary;
$text-strong : $jelu_text_secondary;
$text-invert: findColorInvert($text);
$subtitle-color: $text-strong;

$field-label-color: $text;

$input-color: $text-invert;

$card-background-color: $white-ter ;
// $card-header-color: findColorInvert($card-background-color);
$card-header-color: $jelu_text_accent;

$card-footer-padding: 0.5rem;

$tag-background-color:$grey-lighter;

$box-background-color: $jelu_background_accent;

$dropdown-content-background-color: $white-ter;

// $modal-content-fullscreen-background-color: $jelu_background_accent;
// $modal-content-background-color: $jelu_background_accent;
// $modal-overlay-background-color: #404040;

label.label {
    color: $text;
}

.bar {
    background-color: $jelu_background_accent;
    height: 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 10px;
}


@import "bulma/bulma";
@import "bulma-timeline";
@import "@creativebulma/bulma-divider";
@import '@oruga-ui/theme-bulma/dist/scss/bulma';
@import '@sweetalert2/theme-bulma/bulma.scss';
@import 'vue3-carousel/dist/carousel.css';

@font-face {
    font-family: 'AnotherTypewriter';
    font-style: normal;
    font-display: swap;
    src: url('./atwriter.ttf') format('truetype');
    
  }

$typewriter-font: 'AnotherTypewriter', sans-serif;

.typewriter {
    font-family: $typewriter-font;
}

.books-grid-item {
    width: 160px;
}

.dropdown-item {
  color: #363636;
}

.edit-modal {
    position: relative;
    overflow-y: scroll;
    background-color: $jelu_background_accent;
    padding: 20px;
    max-height: calc(100vh - 40px);
}

.event-modal {
  // position: relative;
  // overflow-y: scroll;
  background-color: $jelu_background_accent;
  // padding: 20px;
  // max-height: 100%;
  // height: 100%;
  display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);

  margin: 0 20px;
  // max-height: calc(100vh - 160px);
  max-height: 100%;
  overflow: auto;
  position: relative;
  // width: 100%;
  max-width: 95vw;
  height: 90vh;
}

.event-modal-body {
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: visible;
  padding: 20px;
}

.author-modal {
  background-color: $jelu_background_accent;
  display: flex;
    flex-direction: column;
    max-height: calc(100vh - 40px);

  margin: 0 20px;
  max-height: 100%;
  overflow: auto;
  position: relative;
  width: min(600px, 90vw);
  height: 90vh;
}

.author-modal-body {
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: visible;
  padding: 20px;
}

.small-cover {
    width: 100px;
  }
  
  .small-cover img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
  }
  
  .overlay-button {
    position: absolute;
    // background: white;
    bottom: 5%;
    left: 2%;
  }

  .pointy-hand {
    cursor: pointer;
  }
  
  .altered {
    filter: blur(4px) invert(38%);
    -webkit-filter: blur(4px) invert(38%);
    -moz-filter: blur(4px) invert(38%);
  }

.jelu-progress {
    position: absolute;
    height: 5px;
    background-color: $jelu_text_accent;
}

.is-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    hyphens: auto;
    width: 100%;
}

// book detail

.jelu-bordered {
    border-width: 2px;
    border-color: $jelu_background_contrast;
    border-style: solid;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 10px 0px $jelu_background; 
    box-shadow: 10px 10px 10px 0px $jelu_background;
  }

.hoverable {
    box-shadow: 3px 3px 3px 0px $jelu_background;
  }

.hoverable:hover {
  box-shadow: 7px 7px 7px 0px $jelu_background;
  transform: translateY(-0.15em);
}

.lighter-background {
  background-color: #535353;
}

$tag-color: findColorInvert($tag-background-color);

span.tag a {
  color: $tag-color;
}

// book list
header a {
    color: findColorInvert($card-background-color);
  }

.card-content .content {
  font-size: $small-font-size;
}

$card-tag-color: findColorInvert($card-background-color);

footer.card-footer span.tag {
    color: $card-tag-color;
    font-size: 0.7em;
  }

  .carousel__slide {
    padding: 10px;
    // margin-left: 20px;
    // margin-right: 20px;
    // min-height: 20px;
    width: 80%;
    background-color: $jelu_background_accent;
    color:  $jelu_background_contrast;
    // font-size: $small-font-size;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel__slide a {
      color: $link-invert;
  }

  .carousel__slide a:visited {
    color: $link;
}

.carousel__slide a:hover {
    color: $link-hover;
}

.carousel__slide p {
    font-size: $small-font-size;
} 

  .carousel__prev,
  .carousel__next {
    box-sizing: content-box;
    border: 2px solid $jelu_background_contrast;
    background-color: $jelu_background_accent;
    top: 45%;
  }

  .carousel__prev {
    left: 2%;
  }

  .carousel__next {
    right: 2%;
  }

  .carousel__icon {
    color: $jelu_background_contrast;
  }

  .carousel__pagination-button {
    background-color: $jelu_background_contrast;
  }

  .carousel__pagination-button--active {
    background-color: $jelu_background_accent;
  }

.b-sidebar .sidebar-content {
  background-color: $jelu_background_accent;
}

.sort-filter-bar {
  font-size: $small-font-size;
}

.jelu-taginput .taginput-container .tag {
  background-color: $warning;
  color: $warning-invert;
}

.jelu-authorinput .taginput-container .tag {
  background-color: $success;
  color: $success-invert;
}

.background-on-hover:hover {
  background-color: #cccccccc;
  border-radius: 10px;
  padding: 3px;
}

.shrinked-height {
  height: 80vh !important;
}

.step-title {
  margin-top: 10px;
}
